/* Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;  
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    font-family: 'Roboto';
    line-height: 1.2;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
    height: auto;
    width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* \Reset CSS*/

/** Шрифты */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Thin.woff') format('woff'),
        url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
/** \Шрифты */

/** Общие стили */
* {
    box-sizing: border-box;
}

html{
    font-size: 1.46vw;
}

body {
    -webkit-text-size-adjust: 100%;
    min-width: 320px;
}

h1 {
    font-weight: 100;
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-weight: 700;
    font-size: 2.5rem;

}

h3 {
    font-weight: 900;
    font-size: 1.75rem;
   /* margin: 38px 0 0 6px;*/
}

a{ 
    color: white;
    text-decoration:none;  
}
a:hover{ 
    color: #90d23d;   
}

p {
    font-weight: 300;
    font-size: .7rem;
}

/** \Общие стили */

.main {
    min-height: 100vh;
    background: url(../images/background.jpg) no-repeat top center /cover;
    padding-bottom: 17.9rem;
    position: relative;
}

.block {
    max-width: 53rem;
    margin: 0 auto;
}

.main:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-left: 97vw solid transparent;
    border-bottom: 5.55rem solid #fff;
}

.main__logo {
    background: url(../images/logo.png) no-repeat top center /cover;
    position: absolute;
    left: 8.5rem;
    top: 2.7rem;
    width: 9.4rem;
    padding-bottom: 2.25rem;
}

.main__menu:before,
.main__menu:after {
  content: "";
  display: table;
}
.main__menu:after {
    clear: both;
  }

.main__menu-list {
 /*   border: solid 1px greenyellow; */
    margin-left: 23.2rem;
    padding-top: 3.4rem;
}

.main__menu-list li {
  /*  border: solid 1px blueviolet; */
    display: inline-block;
    margin-right: 1.9rem;
    list-style-type: none;
    font-size: .75rem;
    
}

.main__menu-list li a:hover {
    border-bottom: solid 1px #90d23d;
  }

.main__head {
    color: white;
    padding-top: 8.2rem;
}

.main__head h2 {
    font-weight: 400;
    text-align: center;
    letter-spacing: .14rem;
}


.container {
    width: 50.7rem;
    position: relative;
    margin: 0 auto;
}

.main__welcome {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
    position: absolute;
    top: -9.9rem;
    width: 25.3rem;
    padding: 1.5rem 4.3rem 2.05rem 1.6rem;
    z-index: 1;
    right: 0;
}
.main__welcome h2 {
    font-size: 2rem;
    padding-bottom: .65rem;
}

.main__welcome p {
    padding-top: .8rem;
}




.advantages__flex {   
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top: 5.9rem;
}

.advantages__head {
    margin: 3.1rem 0 2.75rem 0;
    width: 100%;
}

.advantages__points {
    width: 14.8rem;
}

.advantages__logo {
    text-align: center;
}

.advantages__points:nth-child(1n) img {
    width: 9.4rem;
}

.advantages__points:nth-child(2n) img {
    margin-left: 0.6rem;
}

.advantages__points:nth-child(3n) img {
    margin-top: 1.46rem;
    margin-right: 1.7rem;
}



.advanages_rationale{
    text-align: center;
    margin-top: 1.7rem;
    
}

.advantages__points:nth-child(2n) h3 {
    margin-top: 2.2rem;
    margin-right: 1rem;
}

.advantages__points:nth-child(3n) h3 {
    margin-top: 2rem;
    margin-right: 1rem;
}

.advantages__points:nth-child(1n) p {
    margin-top: .75rem;
}

.advantages__points:nth-child(2n) p {
    margin-top: .65rem;
    margin-right: 0.6rem;
}

.advantages__points:nth-child(3n) p {
    margin-top: 0.7rem;
    margin-left: -1.5rem;
}


.movie {
    text-align: center;
}

.advantages__enumeration-third p {
    margin: .65rem 0 0 .15rem;
    text-align: center;
}

.movie__header {
    font-size: 2.5rem;
    color: #252525;
    font-weight: 700;
    margin: 5.05rem 0 3.8rem 0;
    text-align: center;
}

.movie__table {
    width: 51.5rem;
    border-collapse: collapse;
    border-radius: .75rem;
    overflow: hidden;
    table-layout: fixed;
    margin: 0 auto;
}

.movie__table__thead {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    background: #a3cc40;
}

.movie__table__thead th:before {
    position: absolute;
    right: 2%;
    top: 60%;
    margin-top: -.6rem;
    content: ' ';
    width: 0;
    height: 0;
    border-width: 0 .375rem .72rem .375rem;
    border-color: transparent transparent #ffffff transparent;
    pointer-events: none;
}

.movie__table__thead-time {
    width: 11.75rem;
    text-align: center;
    position: absolute;
    padding: 1.2rem 1.2rem .8rem 0;
}

.movie__table__thead-time:before {
    border-style: solid;
}

.movie__table__thead-time a {
    color: white;
    text-decoration:none;
}

.movie__table__thead-stuff {
    padding: 1.2rem 1.2rem 0.8rem 1.2rem;
    text-align: center;
    width: 16.85rem;
    position: relative;
    color: white;
    text-decoration:none;
}

.movie__table__thead-stuff:before {
    border-style: solid;
}

.movie__table__thead-stuff a {
    color: white;
    text-decoration:none;
}

.movie__table__thead-genre {
    width: 16.85rem;
    text-align: center;
    padding-left: .75rem;
    color: white;
    text-decoration:none;
}

.movie__table__thead-plus {
    width: 6.8rem;
}

.movie__table__tbody-time{
    width: 11.25rem;
    word-wrap:break-word;
    vertical-align: 0%;
    padding: 1.2rem 0 1.1rem 0;
}

.movie__table__tbody-stuff {
    padding-left: 3.6rem;
    text-align: left;
    width: 16.85rem;
    vertical-align: 0%;
    word-wrap:break-word;
}

.movie__table__tbody-genre {
    width: 16.85rem;
    text-align: left;
    padding-left: .75rem;
    vertical-align: 0%;
    word-wrap:break-word;
}

.movie__table__tbody-plus {
    padding-left: 0px;
    padding-top: .3rem;
    padding-right: .05rem;
}

.movie__table__tbody tr:nth-child(odd){
    font-size: 1.1rem;
    font-weight: 400;
    color: #fff;
    background: #373737;
}

.movie__table__tbody tr:nth-child(even){
    font-size: 1.1rem;
    font-weight: 400;
    color: #fff;
    background: #4b4d4f;

}

.movie__table__tbody tr:nth-child(3n+3) {
    font-size: 1.1rem;
    font-weight: 400;
    color: #fff;
    background: #6c6c6c;

}

.movie__caution {
    width: 41.5rem;
    margin: 1.75rem auto;
    line-height: 1.16
}

.present {
    background: url("../images/background2.jpg") no-repeat top center /cover;
    margin-top: 7.4rem;
    padding-bottom: 9.1rem;
}

.present_each {
    width: 100%;
    padding: .15rem 8.2rem 0 26.5rem;
    text-align: right;
}

.present h2 {
    padding: 6.5rem 0 0 0;
    text-align: right;
    color: white;
    font-size: 2.5rem;
    padding-bottom: 2.65rem;
    font-weight: 900;
}

.present p {
    color: white;
    padding-bottom: .85rem;
    padding-right: .15rem;
}

.present__logo {
    margin: -3.2rem 0 0 8.5rem;
    float: left;
    overflow: hidden;
    width: 17.3rem;
}

.present__logo img {
    height: auto;
    width:100%;
}
.getpresent {
    text-align: "right";
}

.present__button {
    width: 10.75rem;
    background: url(../images/button.png)no-repeat top center /cover;
    margin: 0.9rem 0 0 0;
    height: auto;
    display: inline-block;
}

.present__button p {
    padding: 0.76rem 1.4rem .8rem 1.5rem;
    font-weight: 400;
    font-size: .9rem;
}

.films {
    margin-top: 3.5rem;
    padding-left: 10rem;
}

.films p {
    margin-top: 1.65rem;
    width: 33rem;
    margin-bottom: 3.85rem;
}

.movie-grid {
    width: 50.3rem;
    margin: 0 auto;
    padding: 0 1.3rem;
    min-height: 80vh;
}

.movie-grid_flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2.1rem;
    grid-row-gap: 14vh;
}

.movie-grid_item:hover .movie-grid_description {
    bottom: 0;
}

.movie-grid_inner1 {
    position: relative;
    overflow: hidden;
}

.movie-grid_description {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    bottom: -100%;
    background: rgba(144, 210, 61, 0.8);
    border-radius: .75rem;
    padding: 1.15rem;
    display: flex;
    flex-direction: column;
    transition: .2s;
}

.movie-grid_text1 {
    font-size: .75rem;
    font-weight: 900;
    color: #ffffff;
    margin: 0 0 .5rem;
}

.movie-grid_hr {
    width: 6rem;
    height: .1rem;
    border: 0;
    box-shadow: none;
    margin: 0 0 .7rem;
    background: #fff;
}

.movie-grid_text2 {
    font-size: 0.9rem;
    color: #ffffff;
    flex: 1;
}

.movie-grid_link1 + .movie-grid_link1 {
    margin-left: .3rem;
}

.movie-grid_svg {
    fill: #fff;
    transition: .2s;
}
.movie-grid_svg:hover{
    fill: green;
}

.relations {
    background: url("../images/backgroundlast.png");
    text-align: center;
    
}

.relations_icons {
    padding: 3.05rem 0;
}

.relations_icons svg{
    margin-left: 0.45rem;
    width: 2.35rem; 
    height: 2.35rem;
}

.relations__text {

}
.relations__text p {
    padding-top: 1.3rem;
    text-align: center;
    line-height: 1.05rem;
    padding-bottom: 2.05rem;
    padding-left: 0;
    font-size: 0.9rem;
    color: white;
}

.relations footer {
    text-align: center;
}

#modalPresent {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1000;
    padding-top: 6rem;
}

#modalPresent .modal{
    background-color: #ffffff; 
    margin: 0 auto;
    width: 20rem;
    border-radius: 1rem;
    position: relative;
}

#closeModalPresent {
    position: absolute;
    right: 1rem;
    font-size: 30px;
    top: 1rem;
    cursor: pointer;
}