@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, p, h1, h2, h3, h4, h5, h6 {
    background: transparent;
    outline: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.main {
    background: url("../images/background.jpg");
    background-size: 100%;
    height: 769px;
}

.logo {
  /*  border: solid 1px green; */
    margin-left: 168px;
    padding-top: 52px;
    float: left;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
    clear: both;
  }

.nav {
 /*   border: solid 1px greenyellow; */
    margin-left: 258px;
    padding-top: 70px;
    float: left;
}



.nav li {
  /*  border: solid 1px blueviolet; */
    float: left;
    margin-right: 38px;
    list-style-type: none;
    
}

.nav li a{
    color: white;
    text-decoration:none;
}

.whitetext {
    color: white;
    padding-top: 185px;
    text-align: center;
}

.whitetext h1 {
    font-weight: 100;
    font-size: 60pt;
}

.whitetext h2 {
    font-size: 50pt;
}

.welcome {
    width: 485px;
    height: 230px;
    background: url("../images/Base.jpg");
    margin-left: 685px;
    margin-top: 240px;
    padding-left: 35px;
    padding-top: 40px;
}

.welcome h2 {
    font-size: 40pt;
    font-weight: bold;
}
.why_us::after { 
    content: "";
    clear: both; 
    display: block; 
  }

.what {
    margin-left: 173px;
    font-size: 50pt;
    font-weight: bold;
}

.icon_1 {
    margin-top: 135px;
    float: left;
    margin-left: 15%;
    width: 15%;
    
}

.icon_2 {
    margin-top: 135px;
    float: left;
    margin-left: 15%;
    width: 15%;
}

.icon_3 {
    margin-top: 135px;
    float: left;
    margin-left: 15%;
    margin-right: 10%;
    width: 15%;
}

.movie-list {
    text-align: center;
}

.movie-list__header {
    font-size: 50px;
    color: #252525;
    font-weight: 700;
    margin:130px 0 76px;
    text-align: center;
}

.movie-list__table {
    width: 1030px;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    table-layout: fixed;
    margin: 0 auto;
}

.movie-list__thead {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    background: #a3cc40;

}

.time_head {
    width: 225px;
    text-align: center;
    height: 75px;
    position: relative;
}

.time_head a {
    color: white;
    text-decoration:none;
}

.time_head:before {
    position: absolute;
    left: 99%;
    top: 60%;
    margin-top: -12px;
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 14.4px 7.5px;
    border-color: transparent transparent #ffffff transparent;
}
.stuff_head {
    padding-left: 65px;
    text-align: center;
    width: 337px;
    height: 75px;
    position: relative;
    color: white;
    text-decoration:none;
}

.stuff_head a {
    color: white;
    text-decoration:none;
}

.stuff_head:before {
    position: absolute;
    left: 98%;
    top: 60%;
    margin-top: -12px;
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14.4px 7.5px 0 7.5px;
    border-color: #ffffff transparent transparent transparent;
    pointer-events: none;
}

.genre_head {
    height: 75px;
    width: 337px;
    text-align: center;
    padding-left: 15px;
    color: white;
    text-decoration:none;
}

.genre_head a {
    color: white;
    text-decoration:none;
}


.plus_head {
    width: 136px;
}

.tbody a {
    color: white;
    text-decoration:none;
}

.time{
    width: 225px;
    word-wrap:break-word;
    vertical-align: 0%;
    height: 76px;
}

.stuff {
    padding-left: 72px;
    text-align: left;
    width: 337px;
    vertical-align: 0%;
    word-wrap:break-word;
}

.plus {
    padding-left: 0px;
    padding-top: 6px;
    padding-right: 1px;
}

.genre {
    width: 337px;
    text-align: left;
    padding-left: 15px;
    vertical-align: 0%;
    word-wrap:break-word;
}

.tbody tr:nth-child(odd){
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    background: #373737;
}

.tbody tr:nth-child(even){
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    background: #4b4d4f;

}

.tbody tr:nth-child(3n+3) {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    background: #6c6c6c;

}

.present {
    background: url("../images/Layer\ 6.jpg");
    background-size: 100%;
    margin-top: 155px;
    height: 750px;
}

.logo2 {
    margin-left: 12.5%;
    float: left;
    overflow: hidden;
}

.presentall {
    height: 535px;
    width: 100%;
    padding: 5px 12% 0 39%;

}

.present h2 {
    padding-top: 150px;
    text-align: center;
    color: white;
    font-size: 40pt;
}

.present p {
    text-align: right;
    color: white;
}

.getpresent {
    text-align: "right";
}

.button {
    width: 220px;
    height: 55px;
    background: url("../images/Rounded\ Rectangle\ 4.png");
    margin-left:450px;
}

.button p {
    padding-top: 15px;
    padding-right: 40px;
}

.films {
    margin-top: 90px;
    margin-left: 200px;

}

.logotyp1 {
    padding-top: 75px;
    margin-left: 15%;
    margin-right: 5%;
    float: left;
    width: 296px;
}
.logotyp2 {
    padding-top: 75px;
    margin-right: 5%;
    float: left;
}
.logotyp3 {
    padding-top: 75px;
}
.logotyp4 {
    padding-top: 75px;
    margin-left: 15%;
    margin-right: 5%;
    float: left;
}
.logotyp5 {
    padding-top: 75px;
    margin-right: 5%;
    float: left;
}
.logotyp6 {
    padding-top: 75px;
}
.logotyp7 {
    padding-top: 75px;
    margin-left: 15%;
    margin-right: 5%;
    float: left;
}
.logotyp8 {
    padding-top: 75px;
    margin-right: 5%;
    float: left;
}
.logotyp9 {
    padding-top: 75px;
}

.icons {
    background: url("../images/backgroundlast.png");
    
}

.iconss {
    padding-left: 42%;
}

.icons p {
    text-align: center;
}

.icons footer {
    text-align: center;
}